// main:styles.less

/* The Close Button */
.close {
    position: absolute;
    top: 0.67em;
    right: 0.67em;
    color: @white;
    font-size: 3em;
    font-weight: bold;
    .transition(0.25s ease);
    cursor: pointer;

    &:hover {
        color: @secondary;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: @black; /* Fallback color */
    background-color: @black-trans;
    padding-top: 6em;
    z-index: 5000;

    .swiper-container {
        width: 80%;
        max-width: 45em;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width: 730px) {
            & {
                width: 100%;
                max-width: 100%;
            }
        }

        @media screen and (max-width: 803px) {
            .swiper-button-next,
            .swiper-button-prev {
                top: calc(50% + 5em);
            }
        }
    }
}

.gallery {
    .galImgs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .galImg {
        height: 12.5em;
        opacity: 0;
        overflow: hidden;
        width: 18.75em;
        .transition(0.5s ease);

        &:hover {
            cursor: pointer;

            img {
                height: inherit;
                width: 100%;
                .transform(scale(1.15));
            }

            .cover {
                opacity: 0.8;
            }
        }

        img {
            height: inherit;
            width: 100%;
            .transition(0.75s ease);
        }

        .cover {
            background: @text;
            display: flex;
            height: inherit;
            opacity: 0;
            position: absolute;
            .transition(0.5s ease);
            width: inherit;
            z-index: 5;

            p {
                border: 1px solid @white;
                color: @white;
                margin: auto;
                padding: 0.5em 1em;
            }
        }
    }

    .main {
        padding: 5em 0 5em 0;
        text-align: center;
    }
}
