// main:styles.less

.home {
    section {
        p {
            text-align: left;
        }

        .image {
            width: 33%;

            img {
                height: auto;
                width: 100%;
            }
        }
    }

    .slider {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;

        a {
            margin: auto;
            z-index: 1000;
        }

        .arrow {
            display: inline-block;
            position: absolute;
        }

        .button {
            z-index: 1000;
        }

        .cover {
            display: flex;
            height: inherit;
            left: 0;
            margin: auto;
            position: absolute;
            top: 55%;
            width: 100%;
        }

        .sliderImg {
            overflow: hidden;
            position: absolute;

            img {
                margin: auto;
                width: 100%;
            }
        }

        .sliderImgWrap {
            width: 100%;
        }

        .sliderTitle {
            color: @white;
            padding-top: 5em;
            position: absolute;
            top: 10%;
            left: 10%;

            h1 {
                .transition(0.25s ease);
            }
        }

        #leftArrow {
            left: 0;
            margin-left: 2%;
        }

        #rightArrow {
            margin-right: 2%;
            right: 0;
        }

        @media screen and (max-width: 803px) {
            & {
                padding-top: 5em;
            }
        }

        @media screen and (max-width: 450px) {
            & {
                .sliderTitle {
                    h1 {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }

    #buildingProcess {
        min-height: 10em;

        h2 {
            border-bottom: 1px solid @secondary;
            margin-bottom: 0.75em;
            padding-bottom: 0.25em;
        }

        p {
            max-width: 40em;
        }

        .content {
            text-align: left;
        }

        .image {
            float: right;
            margin: 0 0 1.5em 1.5em;
        }

        @media screen and (max-width: 803px) {
            .image {
                float: none;
                margin: 0 auto 1.5em;
                width: 80%;
            }
        }
    }

    #cbcNumbers {
        background-color: @primary;

        h2 {
            color: @white;
            font-size: 6em;
            padding: 0.25em 1em 0.1em 1em;
        }

        h3 {
            color: @white;
            font-size: 1.5em;
        }

        p {
            text-align: center;
            color: @white;
        }

        .stat {
            display: inline-block;
        }
    }

    #ourStory {
        min-height: 10em;

        h2 {
            border-bottom: 1px solid @secondary;
            margin-bottom: 0.75em;
            padding-bottom: 0.25em;
            text-align: right;
        }

        .image {
            float: left;
            margin: 0 1.5em 1.5em 0;
        }

        @media screen and (max-width: 803px) {
            .image {
                float: none;
                margin: 0 auto 1.5em;
                width: 80%;
            }
        }
    }
}
