// main:styles.less

@black: #000;
@black-trans: rgba(0, 0, 0, 0.9);
@gray-light: #f7f7f7;
@gray: #ddd;
@gray-er: #aaa;
@green: #38a833;
@primary: #283a6d;
@primary-trans: rgba(40, 58, 109, 0.8);
@red: #d64848;
@secondary: #388eff;
@text: #383838;
@white: #fff;
