:root {
  --primary: #283a6d;
  --primary-trans: rgba(40, 58, 109, 0.5);
  --secondary: #388eff;
  --accent: #38d7ff;
  --text: #383838;
  --white: #fff;
  --dark-trans: rgba(56, 56, 56, 0.9);
  --gray-light: #f7f7f7;
}

* {
    padding: 0;
    margin: 0;
}

a {
  color: var(--text);
  text-decoration: none;
}

footer {
    align-content: center;
    align-items: flex-start;
    background: var(--secondary);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 3em 0;
}

h1 {
  font-size: 2em;
}

h2 {
    color: var(--primary);
    font-size: 2em;
    line-height: 1em;
    padding-bottom: 0.5em;
}

header {
  height: 5em;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

html {
  color: var(--text);
  font-size: 16px;
}

img {
    display: block;
}

p {
  color: var(--text);
}

section {
    padding: 2em 0;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

ul {
  list-style: none;
}

.button {
    background: var(--primary);
    border: 5px solid var(--primary);
    height: 3em;
    line-height: 3em;
    text-align: center;
    transition: 0.5s ease;
    width: 10em;
}
.button:hover {
    background: var(--white);
    border: 5px solid var(--primary);
}

.button p {
    color: var(--white);
}
.button:hover p {
    color: var(--primary)
}

.content {
    max-width: 62.5em;
}

.divider {
    background-color: var(--secondary);
    height: 0.75em;
}

.left {
    float: left;
}

.main {
    min-height: 30em;
}

.right {
    float: right;
}

.view {
  min-width: 300px;
}

#mainNav {
  background-color: var(--gray-light);
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         0 2px 8px var(--text);
  height: 5em;
  min-width: 250px;
  text-align: center;
  width: 100%;
}

#mainNav a {
  color: var(--primary);
}

#mainNav ul {
  display: inline-block;
  height: 5em;
  margin-right: 2em;
}
@media screen and (max-width: 803px) {
  #mainNav ul {
    display: none;
  }
}

#mainNav ul li {
  color: var(--primary);
  display: inline-block;
  line-height: 5em;
  margin: 0 1em;
  transition: 0.5s ease;
}
#mainNav ul li:hover {
  color: var(--accent);
}

#mainNav .logo {
  color: var(--white);
  display: inline-block;
  line-height: 2.5em;
  margin: 0 1em;
  vertical-align: middle;
}

#mainNav .mobileIconContainer {
  display: inline-block;
  line-height: 5em;
  margin: 0 2em;
  text-align: right;
}

#mainNav .mobileIconContainer a {
  font-size: 1.5em;
  transition: 0.5s ease;
}
#mainNav .mobileIconContainer:hover a {
  color: var(--accent);
}

#mobileIcon {
  display: none;
}
@media screen and (max-width: 803px) {
  #mobileIcon {
    display: block;
  }
}

#mobileNav {
  background: var(--dark-trans);
  display: none;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5000;
}

#mobileNavContainer {
  background: var(--secondary);
  display: none;
  height: 100vh;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 80vw;
}

#mobileNavContainer li {
  color: var(--white);
  margin-right: 2em;
  padding: 1em 0;
  transition: 0.5s ease;
}
#mobileNavContainer li:hover {
  color: var(--accent);
}

#mobileNavContainer ul {
  margin-top: 6em;
}

.img-shadow-effect
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.img-shadow-effect:before, .img-shadow-effect:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.img-shadow-effect:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
