.home {

}

.slider {
    display: block;
    position: relative;
}
@media screen and (max-width: 803px) {
    .slider {
        padding-top: 5em;
    }
}

.slider .arrow {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 55%;
    transition: 0.5s ease;
    width: 5em;
}

.slider #leftArrow {
    background-image: url("../graphics/CBCleftWhite.svg");
    height: 3em;
    left: 0;
    margin-left: 2%;
    width: 3em;
}
.slider #leftArrow:hover {
    background-image: url("../graphics/CBCleftBlue.svg");
}

.slider #rightArrow {
    background-image: url("../graphics/CBCrightWhite.svg");
    height: 3em;
    margin-right: 2%;
    right: 0;
    width: 3em;
}
.slider #rightArrow:hover {
    background-image: url("../graphics/CBCrightBlue.svg");
}

.slider .button {
    bottom: 10%;
    position: absolute;
    right: 10%;
}

.slider .sliderImg {
    max-height: 44em;
    overflow: hidden;
    position: absolute;
}

.slider .sliderImg img {
    margin: auto;
    width: 100%;
}

.slider .title {
    color: var(--white);
    padding-top: 5em;
    position: absolute;
    top: 10%;
    left: 10%;
}

.slider .title h1 {
    transition: 0.25s ease;
}
@media screen and (max-width: 450px) {
    .slider .title h1 {
        font-size: 1.5em;
    }
}

#buildingProcess {
    min-height: 10em;
}

#ourStory {
    min-height: 10em;
}

#ourStory .image {
    width: 33%;
}
@media screen and (max-width: 803px) {
    #ourStory .image {
        width: 80%;
    }
}

#ourStory .image img {
    height: auto;
    width: 100%;
}

#ourStory .text {
    width: 50%;
    text-align: left;
}
@media screen and (max-width: 803px) {
    #ourStory .text {
        width: 80%;
    }
}

#ourStory .flex-wrap {
    align-content: center;
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#ourStory .flex-wrap .item {
    margin: 2em 2em 0 2em;
}

#stats {
    background-color: var(--primary);
}

#stats h2 {
    color: var(--white);
}

#stats p {
    color: var(--white);
}
